<div class="main-content">
    <div class="ui-toolbar-group-left">
        <div>
            <p>
                Đơn nhập hàng
            </p>
        </div>
        <button pButton type="button" label="Tạo đơn nhập hàng" routerLink="create" class="p-button-text"
            icon="pi pi-plus"></button>
    </div>
    <div class="container-fluid">
        <p-progressSpinner *ngIf="!isLoading"></p-progressSpinner>
        <p-table *ngIf="isLoading" #dt [value]="purchaseOrders" [paginator]="true" [rows]="10" [rowHover]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
            [globalFilterFields]="['purchaseOrdersId', 'purchaseOrdersStaff', 'purchaseOrdersStatus' , 'purchaseOrdersPaymentStatus', 'purchaseOrdersWareHouse', 'purchaseOrdersTotalPrice', 'purchaseOrdersSupplier']">
            <ng-template pTemplate="caption">
                <div class="flex-box">
                    <h5>Tất cả đơn nhập hàng</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText size="50" placeholder="Tìm kiếm đơn nhập hàng"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="purchaseOrdersId">
                        <h5>
                            Mã đơn
                            <p-sortIcon field="purchaseOrdersId"></p-sortIcon>
                        </h5>
                    </th>
                    <th pSortableColumn="purchaseOrdersStaff">
                        <h5>
                            Tên nhà cung cấp
                            <p-sortIcon field="purchaseOrdersStaff"></p-sortIcon>
                        </h5>
                    </th>
                    <th pSortableColumn="purchaseOrdersStatus">
                        <h5>
                            Trạng thái
                            <p-sortIcon field="purchaseOrdersStatus"></p-sortIcon>
                        </h5>
                    </th>
                    <th pSortableColumn="purchaseOrdersPaymentStatus">
                        <h5>
                            Thanh toán
                            <p-sortIcon field="purchaseOrdersPaymentStatus"></p-sortIcon>
                        </h5>
                    </th>
                    <th pSortableColumn="purchaseOrdersWareHouse">
                        <h5>
                            Nhập kho
                            <p-sortIcon field="purchaseOrdersWareHouse"></p-sortIcon>
                        </h5>
                    </th>
                    <th pSortableColumn="purchaseOrdersTotalPrice">
                        <h5>
                            Tổng tiền
                            <p-sortIcon field="purchaseOrdersTotalPrice"></p-sortIcon>
                        </h5>
                    </th>
                    <th pSortableColumn="purchaseOrdersSupplier">
                        <h5>
                            Nhân viên tạo
                            <p-sortIcon field="purchaseOrdersSupplier"></p-sortIcon>
                        </h5>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-purchaseOrders>
                <tr>
                    <td>{{purchaseOrders.purchaseOrdersId}}</td>
                    <td>{{purchaseOrders.purchaseOrdersStaff}}</td>
                    <td>
                        <span class="p-tag p-tag-success"
                            *ngIf="purchaseOrders.purchaseOrdersStatus == 'Recieved'">{{purchaseOrders.purchaseOrdersStatus}}</span>
                        <span class="p-tag p-tag-warning"
                            *ngIf="purchaseOrders.purchaseOrdersStatus == 'Waiting'">{{purchaseOrders.purchaseOrdersStatus}}</span>
                    </td>
                    <td>
                        <span class="p-tag p-tag-success"
                            *ngIf="purchaseOrders.purchaseOrdersPaymentStatus == 'Paid'">{{purchaseOrders.purchaseOrdersPaymentStatus}}</span>
                        <span class="p-tag p-tag-warning"
                            *ngIf="purchaseOrders.purchaseOrdersPaymentStatus == 'Unpaid'">{{purchaseOrders.purchaseOrdersPaymentStatus}}</span>
                    </td>
                    <td>
                        <button (click)="editProducts(purchaseOrders.purchaseOrdersWareHouse)" pButton pRipple
                            type="button" label="Xem chi tiết" class="p-button-text"
                            icon="pi pi-external-link"></button>
                    </td>
                    <td>{{purchaseOrders.purchaseOrdersTotalPrice}}</td>
                    <td>{{purchaseOrders.purchaseOrdersSupplier}}</td>
                </tr>
            </ng-template>
        </p-table>

        <p-dialog [(visible)]="productDialog" [style]="{width: '50vw'}" header="Product Details" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <p-table #dt [(value)]="products" [paginator]="true" [rows]="10" [rowHover]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true"
                    [globalFilterFields]="['productName', 'productType', 'productMark', 'productOrigin', 'productAmount', 'productTimeCreated']">
                    <ng-template pTemplate="caption">
                        <div class="flex-box">
                            <h5>Tất cả sản phẩm</h5>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText size="50" placeholder="Tìm kiếm sản phẩm"
                                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="productName">
                                <h5>Sản phẩm <p-sortIcon field="productName"></p-sortIcon>
                                </h5>
                            </th>
                            <th pSortableColumn="productType">
                                <h5>Loại <p-sortIcon field="productType"></p-sortIcon>
                                </h5>
                            </th>
                            <th pSortableColumn="productMark">
                                <h5>Nhãn hiệu <p-sortIcon field="productMark"></p-sortIcon>
                                </h5>
                            </th>
                            <th pSortableColumn="productOrigin">
                                <h5>Xuất xứ <p-sortIcon field="productOrigin"></p-sortIcon>
                                </h5>
                            </th>
                            <th pSortableColumn="productAmount">
                                <h5>Số lượng <p-sortIcon field="productAmount"></p-sortIcon>
                                </h5>
                            </th>
                            <th pSortableColumn="productTimeCreated">
                                <h5>Ngày khởi tạo <p-sortIcon field="productTimeCreated"></p-sortIcon>
                                </h5>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.productName}}</td>
                            <td>{{product.productType}}</td>
                            <td>{{product.productMark}}</td>
                            <td>{{product.productOrigin}}</td>
                            <td>{{product.productAmount}}</td>
                            <td>{{product?.productTimeCreated}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </p-dialog>
    </div>
</div>