<div class="main-content">

  <div class="ui-toolbar-group-left">
    <div>
      <button pButton pRipple type="button" label="Sản phẩm" icon="pi pi-chevron-left" routerLink="/products"
        class="p-button-text"></button>
      <p>
        Quản lý kho
      </p>
    </div>
    <button pButton pRipple type="button" label="Xem sản phẩm" routerLink="/products" class="p-button-text"></button>
  </div>

  <div class="container-fluid">
    <p-progressSpinner *ngIf="!isLoading"></p-progressSpinner>
    <p-table *ngIf="isLoading" #dt [(value)]="products" [paginator]="true" [rows]="10" [rowHover]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      [globalFilterFields]="['productId', 'productName', 'productType', 'productMark', 'productAmount']">
      <ng-template pTemplate="caption">
        <div class="flex-box">
          <h5>Tất cả phiên bản sản phẩm</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText size="50" placeholder="Tìm kiếm phiên bản sản phẩm"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="productId">
            <h5>
              Mã sản phẩm / SKU <p-sortIcon field="productId"></p-sortIcon>
            </h5>
          </th>
          <th pSortableColumn="productName">
            <h5>
              Sản phẩm <p-sortIcon field="productName"></p-sortIcon>
            </h5>
          </th>
          <th pSortableColumn="productType">
            <h5>
              Loại sản phẩm <p-sortIcon field="productType"></p-sortIcon>
            </h5>
          </th>
          <th pSortableColumn="productMark">
            <h5>
              Nhãn hiệu <p-sortIcon field="productMark"></p-sortIcon>
            </h5>
          </th>
          <th pSortableColumn="canSale">
            <h5>
              Có thể bán <p-sortIcon field="canSale"></p-sortIcon>
            </h5>
          </th>
          <th pSortableColumn="productAmount">
            <h5>
              Tồn kho <p-sortIcon field="productAmount"></p-sortIcon>
            </h5>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.productId}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.productType}}</td>
          <td>{{product.productMark}}</td>
          <td>
            <span class="p-tag p-tag-success" *ngIf="product.productStatus == 'INSTOCK'" >{{product.productStatus}}</span>
            <span class="p-tag p-tag-warning" *ngIf="product.productStatus == 'LOWSTOCK'" >{{product.productStatus}}</span>
            <span class="p-tag p-tag-danger" *ngIf="product.productStatus == 'OUTOFSTOCK'" >{{product.productStatus}}</span>
          </td>
          <td>{{product?.productAmount}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>