<p-sidebar [(visible)]="display" [baseZIndex]="10000" [showCloseIcon]="false">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg" style="width: 100%;">
        <app-sidebar></app-sidebar>   
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
</p-sidebar>


<div class="wrapper">
    <div class="main-panel" style="width: 100%;">
        <button pButton pRipple type="button" (click)="display = true" icon="pi pi-align-justify" class="p-button-text"></button>
        <router-outlet></router-outlet>
    </div>
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown open show">
            <a href="#" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu show" x-placement="bottom-start"
                style="position: absolute; top: 41px; left: -231px; will-change: top, left;">
                <li class="header-title"> Sidebar Filters</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger active-color">
                        <div class="ml-auto mr-auto">
                            <span class="badge filter badge-purple" data-color="purple"></span>
                            <span class="badge filter badge-azure" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-orange" data-color="orange"></span>
                            <span class="badge filter badge-danger active" data-color="danger"></span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ripple-container"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>