<div class="main-content">

    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="Quay lại danh sách sản phẩm" icon="pi pi-chevron-left"
            routerLink="/products" class="p-button-text">
        </button>
        <div>
            <p>
                Thêm mới sản phẩm
            </p>
        </div>
    </div>

    <div class="container-fluid">
        <div>

        </div>
        <div class="column">
            <p-toast [style]="{marginTop: '10px'}"></p-toast>

            <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
                <div class="row" style="width: 100%;">
                    <p-panel header="Sản phẩm" class="panel-left">
                        <div class="p-fluid forms-grid" style="margin: 1em 0">
                            <div>
                                <div>
                                    Tên sản phẩm *
                                </div>
                                <div class="p-field">
                                    <input id="productName" type="text" aria-describedby="productName-help" pInputText
                                        formControlName="productName" placeholder="Nhập tên sản phẩm" />
                                    <small id="productName-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productName'].valid && productForm.controls['productName'].dirty">
                                        Cần nhập tên sản phẩm.
                                    </small>
                                </div>
                            </div>
                            <div>
                                <div>
                                    Mã sản phẩm / SKU *
                                </div>
                                <div class="p-field">
                                    <input id="productId" type="text" aria-describedby="productId-help" pInputText
                                        formControlName="productId" placeholder="Có thể nhập bất kì, sẽ tự tạo lại" />
                                    <small id="productId-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productId'].valid && productForm.controls['productId'].dirty">Cần
                                        nhập mã sản phẩm.
                                    </small>
                                </div>
                            </div>
                            <div>
                                <div>
                                    Barcode *
                                </div>
                                <div class="p-field">
                                    <input id="productBarCode" type="text" aria-describedby="productBarCode-help"
                                        pInputText formControlName="productBarCode" placeholder="" />
                                    <small id="productBarCode-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productBarCode'].valid && productForm.controls['productBarCode'].dirty">Cần
                                        nhập barcode.
                                    </small>
                                </div>
                            </div>
                            <div>
                                <div>
                                    Xuất xứ *
                                </div>
                                <div class="p-field">
                                    <p-multiSelect [options]="productOriginOptions" formControlName="productOrigin"
                                        aria-describedby="productOrigin-help" optionLabel="name">
                                    </p-multiSelect>
                                    <small id="productOrigin-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productOrigin'].valid && productForm.controls['productOrigin'].dirty">Cần
                                        nhập xuất xứ sản phẩm.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </p-panel>

                    <p-panel header="Giá sản phẩm" class="panel-right">
                        <div class="p-fluid forms-grid" style="margin: 1em 0">
                            <div>
                                <div>
                                    Tỷ giá *
                                </div>
                                <div class="p-field">
                                    <p-inputNumber id="exchangeRate" aria-describedby="exchangeRate-help"
                                        [(ngModel)]="exchangeRate" [showButtons]="false"
                                        buttonLayout="horizontal" spinnerMode="horizontal" mode="currency"
                                        currency="VND">
                                    </p-inputNumber>
                                    <small id="productRetailPrice-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productRetailPrice'].valid && productForm.controls['productRetailPrice'].dirty">
                                        Cần nhập tỷ giá sản phẩm.
                                    </small>
                                </div>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <button pButton type="button" label="Tính giá"
                                    [disabled]="!productForm.controls['productStockPrice'].valid" (click)="calPrices()"
                                    class="ui-button-raised" style="width: 50%;">
                                </button>
                            </div>
                            <div>
                                <div>
                                    Giá bán lẻ *
                                </div>
                                <div class="p-field">
                                    <p-inputNumber id="productRetailPrice" aria-describedby="productRetailPrice-help"
                                        formControlName="productRetailPrice" [showButtons]="false"
                                        buttonLayout="horizontal" spinnerMode="horizontal" mode="currency"
                                        currency="VND">
                                    </p-inputNumber>
                                    <small id="productRetailPrice-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productRetailPrice'].valid && productForm.controls['productRetailPrice'].dirty">Cần
                                        nhập giá bán lẻ sản phẩm.
                                    </small>
                                </div>
                            </div>
                            <div>
                                <div>
                                    Giá bán buôn *
                                </div>
                                <div class="p-field">
                                    <p-inputNumber id="productWholesalePrice"
                                        aria-describedby="productWholesalePrice-help"
                                        formControlName="productWholesalePrice" [showButtons]="false"
                                        buttonLayout="horizontal" spinnerMode="horizontal" mode="currency"
                                        currency="VND">
                                    </p-inputNumber>
                                    <small id="productWholesalePrice-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productWholesalePrice'].valid && productForm.controls['productWholesalePrice'].dirty">Cần
                                        nhập giá bán buôn sản phẩm.
                                    </small>
                                </div>
                            </div>
                            <div>
                                <div>
                                    Giá nhập *
                                </div>
                                <div class="p-field">
                                    <p-inputNumber id="productStockPrice" aria-describedby="productStockPrice-help"
                                        formControlName="productStockPrice" [showButtons]="false"
                                        buttonLayout="horizontal" spinnerMode="horizontal" mode="currency"
                                        currency="VND">
                                    </p-inputNumber>
                                    <small id="productStockPrice-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productStockPrice'].valid && productForm.controls['productStockPrice'].dirty">Cần
                                        nhập giá nhập kho sản phẩm.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </p-panel>
                </div>

                <div class="row" style="width: 100%;">
                    <p-panel header="Kho hàng" class="panel-left">
                        <div class="p-fluid forms-grid" style="margin: 1em 0">
                            <div>
                                <div>
                                    Khối lượng *
                                </div>
                                <div class="p-field">
                                    <input id="productWeight" type="text" aria-describedby="productWeight-help"
                                        pInputText formControlName="productWeight" placeholder="" />
                                    <small id="productWeight-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productWeight'].valid && productForm.controls['productWeight'].dirty">Cần
                                        nhập khối lượng sản phẩm.
                                    </small>
                                </div>
                            </div>
                            <div>
                                <div>
                                    Đơn vị tính *
                                </div>
                                <div class="p-field">
                                    <p-multiSelect [options]="productUnitOptions" formControlName="productUnit"
                                        aria-describedby="productUnit-help" optionLabel="name">
                                    </p-multiSelect>
                                    <small id="productUnit-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productUnit'].valid && productForm.controls['productUnit'].dirty">Cần
                                        nhập đơn vị tính sản phẩm.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </p-panel>

                    <p-panel header="Phân loại" class="panel-right">
                        <div class="p-fluid forms-grid" style="margin: 1em 0">
                            <div>
                                <div>
                                    Loại sản phẩm *
                                </div>
                                <div class="p-field">
                                    <input id="productType" type="text" aria-describedby="productType-help" pInputText
                                        formControlName="productType" placeholder="" />
                                    <small id="productType-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productType'].valid && productForm.controls['productType'].dirty">Cần
                                        nhập loại sản phẩm.
                                    </small>
                                </div>
                            </div>
                            <div>
                                <div>
                                    Nhãn hiệu *
                                </div>
                                <div class="p-field">
                                    <p-multiSelect [options]="productMarkOptions" formControlName="productMark"
                                        aria-describedby="productMark-help" optionLabel="name">
                                    </p-multiSelect>
                                    <small id="productMark-help" class="p-invalid"
                                        *ngIf="!productForm.controls['productMark'].valid && productForm.controls['productMark'].dirty">Cần
                                        nhập nhãn hiệu sản phẩm.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </p-panel>

                </div>
            </form>
        </div>

        <div style="display: flex; flex-direction: row-reverse;">
            <button pButton type="reset" label="Hủy" routerLink="/products"
                class="ui-button-raised ui-button-secondary"></button>
            <button pButton type="submit" label="Lưu" [disabled]="!productForm.valid" (click)="onSubmit(productForm.value)"
                class="ui-button-raised"></button>
        </div>

    </div>

</div>