:host ::ng-deep .forms-grid>div {
    display: flex;
    align-items: center;
    padding: 1em;
}

:host ::ng-deep .forms-grid>div>div:first-child {
    min-width: 10em;
}

input,
textarea {
    flex: 1 1 auto;
}

:host ::ng-deep .ui-message {
    margin-left: 1em;
}

@media screen and (max-width: 64em) {
    :host ::ng-deep .ui-message-text {
        display: none;
    }
}

.main-content {
    margin: 0 !important;
}