<div class="main-content">

    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="Quay lại danh sách sản phẩm" icon="pi pi-chevron-left" routerLink="/products" class="p-button-text"></button>
        <div>
            <p>
                Thêm mới sản phẩm
            </p>
        </div>
    </div>

    <div class="container-fluid">
        <div>

        </div>
        <div class="column">
            <p-toast [style]="{marginTop: '10px'}"></p-toast>

            <form [formGroup]="productFrom" (ngSubmit)="onSubmit(productFrom.value)">
                <div class="row" style="width: 100%;">
                    <p-panel header="Sản phẩm" class="panel-left">
                        <div class="p-fluid forms-grid" style="margin: 1em 0">
                            <div>
                                <div>Tên sản phẩm *</div>
                                <input pInputText type="text" formControlName="productName"
                                    placeholder="Nhập tên sản phẩm" />
                                <p-message severity="error" text="Cần nhập tên sản phẩm"
                                    *ngIf="!productFrom.controls['productName'].valid && productFrom.controls['productName'].dirty">
                                </p-message>
                            </div>
                            <div>
                                <div>Mã sản phẩm / SKU *</div>
                                <input pInputText type="text" formControlName="productId" placeholder="" />
                                <p-message severity="error" text="Cần nhập mã sản phẩm"
                                    *ngIf="!productFrom.controls['productId'].valid && productFrom.controls['productId'].dirty">
                                </p-message>
                            </div>
                            <div>
                                <div>Barcode *</div>
                                <input pInputText type="text" formControlName="productBarCode" placeholder="" />
                                <p-message severity="error" text="cần nhập barcode sản phẩm"
                                    *ngIf="!productFrom.controls['productBarCode'].valid && productFrom.controls['productBarCode'].dirty">
                                </p-message>
                            </div>
                        </div>
                    </p-panel>

                    <p-panel header="Giá sản phẩm" class="panel-right">
                        <div class="p-fluid forms-grid" style="margin: 1em 0">
                            <div>
                                <div>Giá bán lẻ *</div>
                                <p-inputNumber formControlName="productRetailPrice" [showButtons]="false"
                                    buttonLayout="horizontal" spinnerMode="horizontal" mode="currency" currency="VND">
                                </p-inputNumber>
                                <p-message severity="error" text="Cần nhập giá bán lẻ sản phẩm"
                                    *ngIf="!productFrom.controls['productRetailPrice'].valid && productFrom.controls['productRetailPrice'].dirty">
                                </p-message>
                            </div>
                            <div>
                                <div>Giá bán buôn *</div>
                                <p-inputNumber formControlName="productWholesalePrice" [showButtons]="false"
                                    buttonLayout="horizontal" spinnerMode="horizontal" mode="currency" currency="VND">
                                </p-inputNumber>
                                <p-message severity="error" text="Cần nhập giá buôn sản phẩm"
                                    *ngIf="!productFrom.controls['productWholesalePrice'].valid && productFrom.controls['productWholesalePrice'].dirty">
                                </p-message>
                            </div>
                            <div>
                                <div>Giá nhập *</div>
                                <p-inputNumber formControlName="productStockPrice" [showButtons]="false"
                                    buttonLayout="horizontal" spinnerMode="horizontal" mode="currency" currency="VND">
                                </p-inputNumber>
                                <p-message severity="error" text="Cần nhập giá nhập vào kho của sản phẩm"
                                    *ngIf="!productFrom.controls['productStockPrice'].valid && productFrom.controls['productStockPrice'].dirty">
                                </p-message>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <button pButton type="button" label="Tính giá" [disabled]="!productFrom.controls['productStockPrice'].valid" (click)="calPrices()" class="ui-button-raised"></button>
                            </div>
                        </div>
                    </p-panel>
                </div>

                <div class="row" style="width: 100%;">
                    <p-panel header="Kho hàng" class="panel-left">
                        <div class="p-fluid forms-grid" style="margin: 1em 0">
                            <div>
                                <div>Khối lượng *</div>
                                <input pInputText type="text" formControlName="productWeight" placeholder="g hoặc kg" />
                                <p-message severity="error" text="Cần nhập khối lượng mỗi sản phẩm"
                                    *ngIf="!productFrom.controls['productWeight'].valid && productFrom.controls['productWeight'].dirty">
                                </p-message>
                            </div>
                            <div>
                                <div>Đơn vị tính *</div>
                                <input pInputText type="text" formControlName="productUnit" />
                                <p-message severity="error" text="Cần nhập đơn vị sản phẩm"
                                    *ngIf="!productFrom.controls['productUnit'].valid && productFrom.controls['productUnit'].dirty">
                                </p-message>
                            </div>
                        </div>
                    </p-panel>

                    <p-panel header="Phân loại" class="panel-right">
                        <div class="p-fluid forms-grid" style="margin: 1em 0">
                            <div>
                                <div>Loại sản phẩm *</div>
                                <input pInputText type="" formControlName="productType"
                                    placeholder="Nhập loại sản phẩm" />
                                <p-message severity="error" text="Cần nhập loại sản phẩm"
                                    *ngIf="!productFrom.controls['productType'].valid && productFrom.controls['productType'].dirty">
                                </p-message>
                            </div>
                            <div>
                                <div>Nhãn hiệu *</div>
                                <input pInputText type="text" formControlName="productMark"
                                    placeholder="Nhập nhãn hiệu sản phẩm" />
                                <p-message severity="error" text="Cần nhập nhãn hiệu sản phẩm"
                                    *ngIf="!productFrom.controls['productMark'].valid && productFrom.controls['productMark'].dirty">
                                </p-message>
                            </div>
                        </div>
                    </p-panel>

                </div>
            </form>
        </div>

        <div style="display: flex; flex-direction: row-reverse;">
            <button pButton type="reset" label="Hủy" routerLink="/products" class="ui-button-raised ui-button-secondary"></button>
            <button pButton type="submit" label="Lưu" [disabled]="!productFrom.valid" (click)="onSubmit()" class="ui-button-raised"></button>
        </div>

    </div>

</div>