<p-table #dt [value]="dataWareHouse" [paginator]="true" [rows]="10" [rowHover]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
  [globalFilterFields]="['productId', 'productName', 'productType', 'productMark', 'productAmount']">
  <ng-template pTemplate="caption">
    <div class="flex-box">
      <h5 style="margin: 0;">Tất cả sản phảm đã chọn</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText size="50" placeholder="Tìm kiếm đơn nhập hàng"
          (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="productId">
        <h5>
          Mã sản phẩm
          <p-sortIcon field="productId"></p-sortIcon>
        </h5>
      </th>
      <th pSortableColumn="productName">
        <h5>
          Tên sản phẩm
          <p-sortIcon field="productName"></p-sortIcon>
        </h5>
      </th>
      <th pSortableColumn="productType">
        <h5>
          Loại sản phẩm
          <p-sortIcon field="productType"></p-sortIcon>
        </h5>
      </th>
      <th pSortableColumn="productMark">
        <h5>
          Nhãn hiệu
          <p-sortIcon field="productMark"></p-sortIcon>
        </h5>
      </th>
      <th pSortableColumn="productAmount">
        <h5>
          Số lượng
          <p-sortIcon field="productAmount"></p-sortIcon>
        </h5>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-warehouse>
    <tr>
      <td>{{warehouse.productId}}</td>
      <td>{{warehouse.productName}}</td>
      <td>{{warehouse.productType}}</td>
      <td>{{warehouse.productMark}}</td>
      <td>
        <p-inputNumber [(ngModel)]="warehouse.productAmount" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
        </p-inputNumber>
      </td>
    </tr>
  </ng-template>
</p-table>