.login {
  display: flex;
  justify-content: row;
  align-items: center;
  width: 100%;
  min-height: 100% !important;
}

.image-content {
  width: 50%;
  max-height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  background-color: #6C63FF;
}

.login-form {
  width: 50%;
  max-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

h1, p {
  color: #6C63FF;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
  line-height: 160px;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px 1px #fff;

  min-height: 29vh;
}