<div class="login">
  <div class="image-content">
    <img src="../../../assets/img/undraw_fitting_piece_iilo.svg" alt="" style="min-height: 70vh;">
  </div>

  <div class="login-form">
    <div>
      <p>YOStorecosmetics</p>
    </div>
    <!-- <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions"
      [containerStyle]="{'max-width': '640px'}" [numVisible]="5" [circular]="true" [autoPlay]="true"
      [transitionInterval]="2000">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
          <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </div>
      </ng-template>
    </p-galleria> -->

    <button pButton pRipple type="button" label="Let Start" class="p-button-outlined p-button-help"
      styleClass="p-button-lg" [routerLink]="['/products']"></button>
  </div>
</div>