<div class="main-content">
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="Thêm sản phẩm mới" icon="pi pi-plus" routerLink="create"></button>
            <button pButton type="button" label="Nhập danh sách" icon="pi pi-upload" class="ui-button-success"></button>
        </div>
    </p-toolbar>
    <div class="container-fluid">
        <div class="row">
            
        </div>
        <div class="row">
            
        </div>
        <div class="row">

        </div>
    </div>
</div>