.main-content {
    margin: 0 !important;
}

button {
    margin: 0 10px 0 10px !important;
}

p {
    font-size: xx-large;
}

.ui-toolbar-group-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0 auto;
}

h5 {
    margin: 0 auto !important;
}

.container-fluid {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.flex-box {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.none-style {
    padding: 0 !important;
    background: none !important;
    border: none !important;
}